%h1 Post a message to Twitter
- if @error
  .error= @error
= form_tag url_for(:action => 'create_tweet')
- if remembered?
  Logged in as 
  = session[:twitter_username]
  == (#{link_to 'forget me', url_for(:action => 'forget_me')})
- else
  Username
  %br/
  %input{:type => :text, :name => :username}/
  .spacer
  Password
  %br/
  %input{:type => :password, :name => :password}/
  .spacer
  %input{:type => :checkbox, :name => :remember}/
  Remember me
.spacer
Message
%br/
%input{:type => :text, :style => 'width:80%', :maxlength => 140, :name => :message}/
.spacer
%input{:type => :submit, :value => 'Post!'}/
.spacer