.tweet_spacer {
  height: 20px;
  clear: left;
}


#tweet_container {
  padding: 15px 0 15px 0;
}

#neco_content { padding-left: 15px; }

.tweet img.user_image {
  border: 1px solid #aaa;
  float: left;
}

.tweet .content {
  margin-left: 5px;
  float: left;
}

.tweet .text {
  padding: 8px;
  border: 1px solid #aaa;
  background-color: #fff;
  display: block;
}

.tweet .details {
  margin-left: 10px;
  margin-top: 3px;
  display: block;
}

div.pages {
  clear: both;
  padding-top: 20px;
  font-weight: bold;
}

a.page, span.page {
  padding: 4px 6px;
}

a.page {
  margin: 0 3px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #0063dc;
}

a.page:hover {
  border: 1px solid #003366;
  background-color: #0063dc;
  color: #fff;
}

span.disabled_page {
  color: #b1aab1;
}

span.current_page {
  color: #ff0084;
}