.tweet_spacer {
  height: 20px;
  clear: left;
}


#tweet_container {
  padding: 15px 0 15px 15px;
}

.tweet img.user_image {
  border: 1px solid #aaa;
  float: left;
}

.tweet .content {
  margin-left: 5px;
  float: left;
}

.tweet .text {
  padding: 8px;
  border: 1px solid #aaa;
  background-color: #fff;
  display: block;
}

.tweet .details {
  margin-left: 10px;
  margin-top: 3px;
  display: block;
}

.page {
  clear:both;
  margin-top: 15px;
}