<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="The funniest and most entertaining reality twitter show available online.  Ever wonder what goes on in the office of a ticket broker.  Tune in to twitter.neco.com to keep up with the characters that make up this secondary ticket market leader." />
<meta http-equiv="refresh" content="600" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<title>The Reality Twitter Show at National Event Company - Ticket Brokers - Rated R</title>
<link href="stylesheets/base.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/twitter.css" rel="stylesheet" type="text/css" />


<!--[if IE]>
<link href="stylesheets/base_ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body class="fixed blue">
<div id="bg">
  <div id="container">
    <div id="header">
            <a title="Home" id="home" href="http://www.neco.com/"></a>

            <div id="top_right_container">
              <div id="top_right">
    		<a href="http://www.neco.com/orders">Order Status</a>  |  <a href="http://www.neco.com/register">Register</a>  |  <a href="http://www.neco.com/password_resets/new">Forgot password?</a>  |  <a href="http://www.neco.com/help">Help</a>  |  

    <div class="spacer1"></div>
   
              </div>
            </div>
            <table cellspacing="0" cellpadding="0" id="top_nav">
    	<tbody><tr>
    		<td><a href="http://www.neco.com/"><span class="left"><span class="right">Tickets</span></span></a></td>
    		<td><a href="http://www.neco.com/event_packages"><span class="left"><span class="right">Event Packages</span></span></a></td>
    		<td><a href="http://blog.neco.com"><span class="left"><span class="right">Blog</span></span></a></td>
    		<td><a class="hover" href="http://twitter.neco.com"><span class="left"><span class="right">Twitter</span></span></a></td>

    	</tr>
    </tbody></table>
            <div id="phone_number"><img src="http://assets1.neco.com/images/phone_icon.jpg" alt="Phone_icon"/>866-NECO-TIX (632-6849)</div>
          </div>  

  <div id="content_top">
          <div id="content_right">
            <div id="content_bottom">
              <div id="content_left">
                <div id="content_top_left">
                  <div id="content_top_right">
                    <div id="content_bottom_right">
                      <div id="content_bottom_left">
                        <table cellspacing="0" cellpadding="0" id="content_middle">
                          <tbody><tr>
                            <td id="content_middle_cell">
                              <div id="neco_content">
                                

<%= yield %>

                      </div>
                    </td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div id="jargon">
  	<div id="nav"><a href="http://www.neco.com/tickets">Tickets</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/event_packages">Event Packages</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://blog.neco.com">Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://greenleaf.neco.com">Hip Hop Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://twitter.neco.com">Twitter</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/help">Help</a>

<div class="spacer2"></div>

<a href="http://www.neco.com/contact">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/about">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/why">Why Us?</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/employment">Employment</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/affiliate_groups/new">Affiliates</a>

<div class="spacer3"></div></div>
  	<div id="contact_info">866-NECO-TIX (632-6849)&nbsp;&nbsp;|&nbsp;&nbsp;1430 Broadway, 7th Floor, New York, NY 10018</div>

  	<div id="legal">
  		Copyright &copy; 2008, National Event Company II LLC, All Rights Reserved<br />
  		<a href="http://www.neco.com/terms">Terms &amp; Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.neco.com/privacy_policy">Privacy Policy</a>
  	</div>
  </div>

	<div id="seals">
		<a href="http://www.bbbonline.org/cks.asp?id=1080620144110&amp;popup=true" onclick="window.open(this.href,'bbb','bbb');return false;" style="position: relative; bottom: 7px;"><img alt="BBB Seal" src="http://assets2.neco.com/images/bbbseal.gif?1227893291" /></a>

		<a href="https://seal.godaddy.com/verifySeal?sealID=2082029625050c04df7127112c49aa7e517fcb04658573943778635413&amp;popup=true" onclick="window.open(this.href,'godaddy_ssl','height=620,width=536');return false;"><img alt="Godaddy_ssl" src="http://assets2.neco.com/images/godaddy_ssl.jpg?1227893291" /></a>

		<img alt="Credit_card_logos" src="http://assets2.neco.com/images/credit_card_logos.jpg?1227893291" />

		<a href="https://www.paypal.com/us/verified/pal=paypal%40neco%2ecom?popup=true" onclick="window.open(this.href,'paypal_verified','paypal_verified');return false;"><img alt="Paypal_verified" src="http://assets2.neco.com/images/paypal_verified.jpg?1227893291" /></a>

		<a href="http://www.facebook.com/pages/National-Event-Company-Necocom/25632242064?popup=true" onclick="window.open(this.href);return false;" style="position: relative; bottom: 5px;"><img alt="Facebook_logo" src="http://assets0.neco.com/images/facebook_logo.jpg?1227893291" /></a>
	</div>

</div>


</div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3488694-6");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>

</html>
